.fcb-finishAndSaveBtn {
  float: left;
  margin-right: 1rem;
}

.fcb-clearBtn {
  float: left;
}

.fcb-saveBtn {
  float: right;
  min-width: 100%;
}

.fcb-container {
  margin-top: 10px !important;
  margin-bottom: -10px !important;
}
