@keyframes "App-logo-spin" {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .ant-tabs-tab {
  font-size: 18px;
} */
/*Hidden class to use on headings that shouldnt be 
displayed on pages but need to be read by screen-readers*/
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.experience-item-list {
  .ant-list-item-extra {
    margin-top: 0px !important;
    margin-left: 0.25em !important;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.navProfileName {
  display: inline;
}
.ant-layout-sider-trigger {
  background-color: #dfe5e4 !important;
  color: rgb(0, 30, 30) !important;
}
.results-card-divider.ant-divider.ant-divider-horizontal.ant-divider-with-text-left {
  &::before {
    border-top-color: #001c1a !important;
  }
  &::after {
    border-top-color: #001c1a !important;
  }
}
.ant-form-item {
  margin-bottom: 13px !important;
}
.ant-form-item-label {
  padding: 0px !important;
}
.ant-form-item-control-input-content {
  width: 100%;
}
.ant-list-item-meta-title {
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 0px !important;
}
.ant-list-item-meta-description {
  font-size: 14px !important;
  line-height: 22px !important;
}
.ant-card-head {
  height: 55px !important;
}
.ant-card-small {
  .ant-card-head {
    height: 35px !important;
  }
  .ant-card-head-wrapper {
    height: 35px !important;
  }
}
.ant-card-head-wrapper {
  height: 55px !important;
}
.ant-card-body {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.no-content-card {
  .ant-card-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
.ant-tag.ant-tag-has-color {
  font-size: 14px !important;
}
.ant-page-header-heading-title {
  font-size: 24px !important;
}
.ant-list-item {
  font-size: 16px !important;
}
.custom-bubble-select-style {
  .ant-select-selection-item {
    margin: 3px !important;
    padding: 1px 10px !important;
    height: auto !important;
    border-radius: 15px !important;
    border-width: 2px !important;
    border-color: rgb(223, 229, 228) !important;
  }
}
.ant-tag {
  margin: 3px !important;
  padding: 5px 12px !important;
  height: auto !important;
  border-radius: 15px !important;
  border-width: 0px !important;
  border-color: rgb(223, 229, 228) !important;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
a {
  &:focus {
    outline: 1px solid #999c9e !important;
  }
}
menu {
  &:focus {
    outline: 1px solid #999c9e !important;
    color: #08bab3;
  }
}
menuitem {
  &:focus {
    outline: 1px solid #999c9e !important;
    color: #08bab3;
  }
}
input {
  &:focus {
    outline: #08bab3;
  }
}
ant-tabs-tab {
  &:focus {
    outline: 1px solid #999c9e !important;
    color: #08bab3;
  }
}
a.ant-btn.ant-btn-link.ant-btn-block {
  &:focus {
    outline: 1px solid #999c9e !important;
  }
}
.ant-select-selector {
  &:focus {
    outline: #08bab3;
  }
}
.ant-select-selection-search {
  &:focus {
    outline: #08bab3;
  }
}
.ant-anchor-link-title {
  &:focus {
    border: 2px;
    border-color: #08bab3;
    outline: 1px solid #999c9e !important;
  }
}
.ant-collapse-header {
  &:focus {
    outline: 1px solid #999c9e !important;
  }
}
.ant-btn-link {
  &:focus {
    outline: 1px solid #999c9e !important;
    color: #08bab3;
  }
}
.ant-btm.ant-btn-link.ant-btn-sm {
  &:focus {
    color: #424242;
  }
}
.ant-steps-item {
  &:focus {
    color: #08bab3;
    background-color: #08bab462;
  }
}
.ant-dropdown-menu-item {
  &:focus {
    outline: #08bab3;
  }
}
.ant-dropdown-link {
  &:focus {
    outline: 1px solid #999c9e !important;
  }
}
.ant-menu-item {
  &:focus {
    color: #001c1a;
  }
}
.ant-card {
  &:focus {
    outline: 1px solid #999c9e !important;
  }
}
.ant-tabs-tab-active {
  &:focus {
    outline: 2px solid #999c9e !important;
  }
}
.anticon.anticon-info-circle {
  &:focus {
    outline: #08bab3;
    background-color: #08bab462;
    color: #08bab3;
    border-radius: 50%;
  }
}
button.ant-btn.ant-btn-dangerous {
  &:focus {
    background-color: #ff333326;
  }
}
*[tabIndex] {
  &:focus {
    outline: #08bab3;
  }
}
span.searchInput {
  span.ant-input-group-addon {
    background: none;
  }
}
.org-dropdown {
  border: 2px solid #f0f0f0 !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 500px) {
  .navProfileName {
    display: none;
  }
}
@media (max-width: 767px) {
  .landingPicture {
    display: none !important;
  }
}

.language-date-item {
  margin-bottom: -2px !important;
}
