@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navProfileName {
  display: inline;
}

@media (max-width: 500px) {
  .navProfileName {
    display: none;
  }
}

@media (max-width: 767px) {
  .landingPicture {
    display: none !important;
  }
}

.ant-layout-sider-trigger {
  background-color: #dfe5e4 !important;
  color: rgb(0, 30, 30) !important;
}

.results-card-divider.ant-divider.ant-divider-horizontal.ant-divider-with-text-left::before {
  border-top-color: #001c1a !important;
}

.results-card-divider.ant-divider.ant-divider-horizontal.ant-divider-with-text-left::after {
  border-top-color: #001c1a !important;
}

.ant-form-item {
  margin-bottom: 13px !important;
}

.ant-form-item-label {
  padding: 0px !important;
}

.ant-list-item-meta-title {
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 0px !important;
}

.ant-list-item-meta-description {
  font-size: 14px !important;
  line-height: 22px !important;
}

.ant-card-head {
  height: 55px !important;
}

.ant-card-small .ant-card-head {
  height: 35px !important;
}

.ant-card-head-wrapper {
  height: 55px !important;
}

.ant-card-small .ant-card-head-wrapper {
  height: 35px !important;
}

.ant-card-body {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ant-tag.ant-tag-has-color {
  font-size: 14px !important;
}

.ant-page-header-heading-title {
  font-size: 24px !important;
}

.ant-list-item {
  font-size: 16px !important;
}

.custom-bubble-select-style .ant-select-selection-item {
  margin: 3px !important;
  padding: 1px 10px !important;
  height: auto !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  border-color: rgb(223, 229, 228) !important;
}

.ant-tag {
  margin: 3px !important;
  padding: 5px 12px !important;
  height: auto !important;
  border-radius: 15px !important;
  border-width: 0px !important;
  border-color: rgb(223, 229, 228) !important;
}

/*Hidden class to use on headings that shouldnt be 
displayed on pages but need to be read by screen-readers*/

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button:focus {
  outline: #08bab3;
  background-color: #08bab3;
  color: #08bab3;
}

a:focus {
  outline: #08bab3;
  background-color: #a6c8c3;
  color: #08bab3;
}

menu:focus {
  outline: #08bab3;
  background-color: #08bab3;
  color: #08bab3;
}

menuitem:focus {
  outline: #08bab3;
  background-color: #08bab427;
  color: #08bab3;
}

input:focus {
  outline: #08bab3;
}

ant-tabs-tab:focus {
  outline: #08bab3;
  background-color: #08bab3;
  color: #08bab3;
}

a.ant-btn.ant-btn-link.ant-btn-block:focus {
  background-color: #08bab427;
}

.ant-select-selector:focus {
  outline: #08bab3;
}

.ant-select-selection-search:focus {
  outline: #08bab3;
}

.ant-anchor-link-title:focus {
  border: 2px;
  border-color: #08bab3;

  color: #08bab3;
  background-color: #08bab427;
}

.amt-collapse-header:focus {
  background-color: #08bab427;
}

.ant-btn:focus {
  outline: #a6c8c3;
  background-color: #08bab427;
  color: #08bab3;
}

.ant-btn-link:focus {
  outline: #08bab3;
  background-color: #08bab427;
  color: #08bab3;
}

.ant-btm.ant-btn-link.ant-btn-sm:focus {
  color: #424242;
}

.ant-steps-item:focus {
  color: #08bab3;
  background-color: #08bab455;
}

.ant-dropdown-menu-item:focus {
  outline: #08bab3;
}

.ant-dropdown-link:focus {
  outline: #08bab3;
  background-color: #08bab427;
  color: #08bab3;
}

.ant-menu-item:focus {
  color: #001c1a;
}

.ant-card:focus {
  background-color: #08bab427;
}

.ant-tabs-tab-active:focus {
  background-color: #08bab427;
}

button.ant-btn.ant-btn-link:focus {
  background-color: #08bab427;
  color: #001c1a;
}

button.ant-btn.ant-btn-dangerous:focus {
  background-color: #ff333326;
}

*[tabIndex]:focus {
  outline: #08bab3;
}
