/*Hidden class to use on headings that shouldnt be 
displayed on pages but need to be read by screen-readers*/
.experience-item-list {
  .ant-list-item-extra {
    margin-top: 0px !important;
    margin-left: 0.25em !important;
  }
}

.navProfileName {
  display: inline;
}

.ant-layout-sider-trigger {
  background-color: #dfe5e4 !important;
  color: rgb(0, 30, 30) !important;
}

.results-card-divider.ant-divider.ant-divider-horizontal.ant-divider-with-text-left {
  &::before {
    border-top-color: #001c1a !important;
  }
  &::after {
    border-top-color: #001c1a !important;
  }
}

.ant-form-item {
  margin-bottom: 13px !important;
}

.ant-form-item-label {
  padding: 0px !important;
}

.ant-form-item-control-input-content {
  width: 100%;
}

.ant-list-item-meta-title {
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 0px !important;
}

.ant-list-item-meta-description {
  font-size: 14px !important;
  line-height: 22px !important;
}

.ant-card-head {
  height: 55px !important;
}

.ant-card-small {
  .ant-card-head {
    height: 35px !important;
  }
  .ant-card-head-wrapper {
    height: 35px !important;
  }
}

.ant-card-head-wrapper {
  height: 55px !important;
}

.ant-card-body {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.no-content-card {
  .ant-card-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.ant-tag.ant-tag-has-color {
  font-size: 14px !important;
}

.ant-page-header-heading-title {
  font-size: 24px !important;
}

.ant-list-item {
  font-size: 16px !important;
}

.custom-bubble-select-style {
  .ant-select-selection-item {
    margin: 3px !important;
    padding: 1px 10px !important;
    height: auto !important;
    border-radius: 15px !important;
    border-width: 2px !important;
    border-color: rgb(223, 229, 228) !important;
  }
}

.ant-tag {
  margin: 3px !important;
  padding: 5px 12px !important;
  height: auto !important;
  border-radius: 5px !important;
  border-width: 0px !important;
  border-color: rgb(223, 229, 228) !important;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 
 * START: Accessibility tabbing/navigation 
 */
$app-light-green: rgb(8, 186, 179);
$app-green: rgb(8, 116, 114);
$app-red: rgb(255, 51, 51);
$app-black: #001c1a;

$app-green-shadow: rgba($app-green, 0.5);
$app-red-shadow: rgba($app-red, 0.5);
$app-white-shadow: rgba(#ffffff, 0.5);

$app-green-shadow-light: rgba($app-green, 0.2);

.ant-dropdown-menu-item:focus {
  background-color: $app-black !important;
}

a {
  &:hover {
    color: $app-black !important;
  }

  &:focus {
    text-decoration: underline;
    color: $app-green !important;
  }
}

@mixin selection {
  border-color: $app-green !important;
  box-shadow: 0px 0px 0px 2px $app-green-shadow !important;
}

.ant-select-focused .ant-select-selector {
  @include selection;
}

.ant-select-selector:focus {
  @include selection;
}

.ant-select-selector:active {
  @include selection;
}

.ant-select-open .ant-select-selector {
  @include selection;
}

.ant-input:focus {
  @include selection;
}

.ant-picker-focused {
  @include selection;
}

.ant-radio-button-wrapper:focus-within {
  @include selection;
}

.ant-btn:focus {
  @include selection;
}

.ant-switch-checked:focus {
  @include selection;
}

.ant-checkbox-input:focus ~ .ant-checkbox-inner {
  @include selection;
}

.ant-btn-dangerous:focus {
  border-color: $app-red !important;
  box-shadow: 0px 0px 0px 2px $app-red-shadow !important;
}

header {
  .ant-input:focus {
    border-color: #ffffff !important;
    box-shadow: 0px 0px 0px 2px $app-white-shadow !important;
  }

  .ant-btn-background-ghost {
    &:focus {
      color: $app-light-green !important;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }

  img {
    transition: box-shadow 200ms;
  }

  a:focus > img {
    box-shadow: 0px 0px 0px 2px $app-white-shadow !important;
  }
}

.ant-menu-item:active,
.ant-menu-item-selected {
  background-color: #dfe5e4 !important;
  border-radius: 5px;
}

.ant-menu {
  padding-top: 5px;
  padding-right: 8px;
  padding-left: 8px;
}

.ant-card {
  &:focus {
    outline: 1px solid #999c9e !important;
  }
}

.ant-card:focus {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  opacity: 0.8;
}

.ant-ribbon .ant-btn:focus {
  box-shadow: 0px 0px 0px 3px $app-green-shadow !important;
}
.ant-steps-item {
  &:focus {
    background-color: $app-green-shadow-light !important;
    border-radius: 10px;

    span {
      color: #ffffff !important;
    }

    li,
    div {
      color: $app-green !important;
    }

    .ant-steps-item-icon {
      border-color: $app-green !important;
      background-color: $app-green !important;
    }

    .ant-steps-item-tail::after {
      background-color: $app-green !important;
    }
  }
}

*[tabIndex]:focus {
  outline: $app-green;
}

.anticon.anticon-info-circle {
  border-radius: 50% !important;
  transition-duration: 200ms;

  &:focus,
  &:hover {
    outline: $app-green !important;
    background-color: $app-green-shadow-light !important;
    color: $app-green !important;
    box-shadow: 0px 0px 0px 2px $app-green-shadow !important;
  }
}

.ant-tabs-tab-btn:focus {
  text-decoration: underline;
}

.ant-menu-item:focus {
  background-color: #001c1a20 !important;
}

.ant-collapse-header:focus {
  border-color: $app-green !important;
  box-shadow: 0px 0px 0px 3px $app-green-shadow !important;
}

.ant-card {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.1rem;
}

.ant-table {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.1rem;

  .ant-table-thead tr th:first-child {
    border-top-left-radius: 5px !important;
  }

  .ant-table-thead tr th:last-child {
    border-top-right-radius: 5px !important;
  }
}

.ant-layout-sider-children {
  box-shadow: rgba(0, 0, 0, 0.05) 0.15rem 0 0.1rem;
}

.ant-btn,
.ant-form-item input,
.ant-select-selector,
.ant-pagination-item,
.ant-pagination-item-link,
.ant-input,
.ant-picker {
  border-radius: 5px !important;
}

.ant-radio-group .ant-radio-button-wrapper {
  &:first-child {
    border-radius: 5px 0 0 5px !important;
  }

  &:last-child {
    border-radius: 0 5px 5px 0 !important;
  }
}

.ant-btn-circle {
  border-radius: 50% !important;
}

span.searchInput {
  input {
    border-radius: 5px 0 0 5px;
    background-color: #f0f2f55d;

    &:active,
    &:focus {
      background-color: white;
    }
  }

  span.ant-input-group-addon {
    background: none;
    button {
      border-radius: 0 5px 5px 0 !important;
    }
  }
}

.org-dropdown {
  border: 2px solid #f0f0f0 !important;
}

/* 
 * END: Accessibility tabbing/navigation 
 */

@media (max-width: 500px) {
  .navProfileName {
    display: none;
  }
}

@media (max-width: 767px) {
  .landingPicture {
    display: none !important;
  }
}

.language-date-item {
  margin-bottom: -2px !important;
}

.datePicker {
  width: 100%;
}

.unsavedText {
  margin-left: 10px;
  font-weight: normal;
  font-style: italic;
  opacity: 0.5;
}

.iconBySwitch {
  padding-left: 5px;
  padding-right: 5px;
}
