/*Hidden class to use on headings that shouldnt be 
displayed on pages but need to be read by screen-readers*/
.experience-item-list {
  .ant-list-item-extra {
    margin-top: 0px !important;
    margin-left: 0.25em !important;
  }
}

.navProfileName {
  display: inline;
}

.ant-layout-sider-trigger {
  background-color: #dfe5e4 !important;
  color: rgb(0, 30, 30) !important;
}

.results-card-divider.ant-divider.ant-divider-horizontal.ant-divider-with-text-left {
  &::before {
    border-top-color: #001c1a !important;
  }
  &::after {
    border-top-color: #001c1a !important;
  }
}

.ant-form-item {
  margin-bottom: 13px !important;
}

.ant-form-item-label {
  padding: 0px !important;
}

.ant-form-item-control-input-content {
  width: 100%;
}

.ant-list-item-meta-title {
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 0px !important;
}

.ant-list-item-meta-description {
  font-size: 14px !important;
  line-height: 22px !important;
}

.ant-card-head {
  height: 55px !important;
}

.ant-card-small {
  .ant-card-head {
    height: 35px !important;
  }
  .ant-card-head-wrapper {
    height: 35px !important;
  }
}

.ant-card-head-wrapper {
  height: 55px !important;
}

.ant-card-body {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.no-content-card {
  .ant-card-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.ant-tag.ant-tag-has-color {
  font-size: 14px !important;
}

.ant-page-header-heading-title {
  font-size: 24px !important;
}

.ant-list-item {
  font-size: 16px !important;
}

.custom-bubble-select-style {
  .ant-select-selection-item {
    margin: 3px !important;
    padding: 1px 10px !important;
    height: auto !important;
    border-radius: 15px !important;
    border-width: 2px !important;
    border-color: rgb(223, 229, 228) !important;
  }
}

.ant-tag {
  margin: 3px !important;
  padding: 5px 12px !important;
  height: auto !important;
  border-radius: 15px !important;
  border-width: 0px !important;
  border-color: rgb(223, 229, 228) !important;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 
 * START: Accessibility tabbing/navigation 
 */

.ant-dropdown-menu-item:focus {
  background-color: #001c1a !important    ;
}

a {
  &:hover {
    color: black !important;
  }

  &:focus {
    text-decoration: underline;
    color: #087472 !important;
  }
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector,
.ant-input:focus,
.ant-picker-focused,
.ant-radio-button-wrapper:focus-within,
.ant-btn:focus,
.ant-switch-checked:focus,
.ant-checkbox-input:focus ~ .ant-checkbox-inner {
  border-color: #087472 !important;
  box-shadow: 0px 0px 0px 2px #08747270 !important;
}

.ant-btn-dangerous:focus {
  border-color: #ff3333 !important;
  box-shadow: 0px 0px 0px 2px #ff333370 !important;
}

header {
  .ant-input:focus {
    border-color: #ffffff !important;
    box-shadow: 0px 0px 0px 2px #ffffff70 !important;
  }
  .ant-btn-background-ghost {
    &:focus {
      color: #08bab3 !important;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }

  a:focus > img {
    box-shadow: 0px 0px 0px 2px #ffffff70 !important;
  }
}

.ant-card:focus {
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  opacity: 0.8;
}

.ant-ribbon .ant-btn {
  &:focus {
    box-shadow: 0px 0px 0px 3px #08747270 !important;
  }
}

.ant-steps-item {
  &:focus {
    background-color: #08747230 !important;
    border-radius: 10px;

    span {
      color: #ffffff !important;
    }

    li,
    div {
      color: #087472 !important;
    }

    .ant-steps-item-icon {
      border-color: #087472 !important;
      background-color: #087472 !important;
    }

    .ant-steps-item-tail::after {
      background-color: #087472 !important;
    }
  }
}

*[tabIndex] {
  &:focus {
    outline: #087472;
  }
}

.anticon.anticon-info-circle {
  border-radius: 50% !important;
  transition-duration: 200ms;

  &:focus,
  &:hover {
    outline: #087472 !important;
    background-color: #08747240 !important;
    color: #087472 !important;
    box-shadow: 0px 0px 0px 2px #08747270 !important;
  }
}

/* 
 * END: Accessibility tabbing/navigation 
 */

.ant-menu-item {
  &:focus {
    color: #001c1a !important;
    background-color: #001c1a20 !important;
  }
}

.ant-tabs-tab-active {
  &:focus {
    outline: 2px solid #999c9e !important;
  }
}

.org-dropdown {
  border: 2px solid #f0f0f0 !important;
}

@media (max-width: 500px) {
  .navProfileName {
    display: none;
  }
}

@media (max-width: 767px) {
  .landingPicture {
    display: none !important;
  }
}

.language-date-item {
  margin-bottom: -2px !important;
}
