@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navProfileName {
  display: inline;
}

@media (max-width: 500px) {
  .navProfileName {
    display: none;
  }
}

@media (max-width: 767px) {
  .landingPicture {
    display: none !important;
  }
}

.ant-layout-sider-trigger {
  background-color: #dfe5e4 !important;
  color: rgb(0, 30, 30) !important;
}

.results-card-divider.ant-divider.ant-divider-horizontal.ant-divider-with-text-left::before {
  border-top-color: #001c1a !important;
}

.results-card-divider.ant-divider.ant-divider-horizontal.ant-divider-with-text-left::after {
  border-top-color: #001c1a !important;
}

.ant-form-item {
  margin-bottom: 13px !important;
}

.ant-form-item-label {
  padding: 0px !important;
}

.ant-list-item-meta-title {
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 0px !important;
}

.ant-list-item-meta-description {
  font-size: 14px !important;
  line-height: 22px !important;
}

.ant-card-head {
  height: 55px !important;
}

.ant-card-small .ant-card-head {
  height: 35px !important;
}

.ant-card-head-wrapper {
  height: 55px !important;
}

.ant-card-small .ant-card-head-wrapper {
  height: 35px !important;
}

.ant-card-body {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.no-content-card .ant-card-body {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* .ant-tabs-tab {
  font-size: 18px;
} */

.ant-tag.ant-tag-has-color {
  font-size: 14px !important;
}

.ant-page-header-heading-title {
  font-size: 24px !important;
}

.ant-list-item {
  font-size: 16px !important;
}

.custom-bubble-select-style .ant-select-selection-item {
  margin: 3px !important;
  padding: 1px 10px !important;
  height: auto !important;
  border-radius: 15px !important;
  border-width: 2px !important;
  border-color: rgb(223, 229, 228) !important;
}

.ant-tag {
  margin: 3px !important;
  padding: 5px 12px !important;
  height: auto !important;
  border-radius: 15px !important;
  border-width: 0px !important;
  border-color: rgb(223, 229, 228) !important;
}
