.prim-skeleton {
  min-height: 605px !important;
  max-width: 900px;
  padding: 30px 30px;
}

.prim-content {
  text-align: left;
  width: 100%;
  max-width: 900px;
  min-height: 400px;
  padding: 30px 30px;
}

.prim-formTitle {
  font-size: 1.2em !important;
  margin: 0 !important;
}

.prim-headerDiv {
  margin: 15px 0 15px 0 !important;
}

.prim-formItem {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 0;
  text-align: left;
}
.prim-subHeading {
  font-size: 1.3em;
}

.prim-popoverStyle {
  max-width: 430px;
}
.prim-rightSpacedButton {
  margin-right: 1em;
  margin-top: -10px;
}

.prim-infoIcon {
  margin-left: 5px;
}
.prim-popoverStyleCareer {
  margin-left: 8px;
}
.prim-sectionHeader {
  margin-bottom: 10px;
}
