.qualificationPools-Link {
  padding-left: 0px !important;
}

.qualificationPools-Link svg {
  margin-right: 5px !important;
}

@media (min-width: 780px) {
  .qualificationPools-Link {
    padding-left: 20px !important;
  }
}
