.search-w100 {
  width: 100%;
}
.search-searchHeader {
  font-size: 1.2em !important;
}
.search-searchHeaderIcon {
  font-size: 0.9em;
  margin-right: 4px;
  color: #3cbab3;
}
.search-searchSideBar {
  padding: 22px;
}
.search-form {
  padding-top: 10px;
}
