.fcb-finishAndSaveBtn {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.fcb-clearBtn {
  float: left;
  margin-bottom: 1rem;
}

.fcb-saveBtn {
  float: right;
  margin-bottom: 1rem;
  min-width: 100%;
}

.fcb-container { 
  margin-top: 20px;
}
