.finishAndSaveBtn {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.clearBtn {
  float: left;
  margin-bottom: 1rem;
}

.saveBtn {
  float: right;
  margin-bottom: 1rem;
  min-width: 100%;
}

.container { 
  margin-top: 20px;
}
