.pageContent {
  text-align: left;
  max-width: 1100px;
}

.landingPicture {
  text-align: center;
}

.landingDescription {
  max-width: 500px;
}



.text {
  display: block;
  margin: 20px 0;
  font-size: 15px;
}

.title {
  display: block;
  margin: 25px 0 10px 0;
  color: #404040;
}

.landingPicture img {
  max-width: 100%;
  max-height: 400px;
}

.signInButton {
  margin-top: 20px;
  width: 190px;
}

.signInButton svg {
  margin-right: 5px;
}
