.header {
  background-color: white;
  padding: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.1rem;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.aroundNavContent {
  margin: 0 25px !important;
}
.navBrand {
  height: 30px;
}
.dropDownMenu {
  padding: 0;
  margin-top: 6px;
}
.dropDownItem {
  padding: 10px 20px;
}
.nav-dropDownButton {
  color: #454545 !important;
  height: 35px !important;
  padding: 0 !important;
  margin-right: 15px !important;
}
.dropDownArrow {
  margin-left: 5px !important;
}
.menuIcon {
  margin-right: 10px;
}
.signInBtn {
  margin-right: 20px !important;
}

.hamburgerMenu {
  padding-bottom: 23px !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.1rem;
}
.hamburgerHeader {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100% !important;
  margin: 0 20px !important;
}
.divider {
  margin: 0;
}
