.lang-skeleton {
  width: 100%;
  max-width: 900px;
  min-height: 311px;
  background: #fff;
  padding: 30px 30px;
}
.lang-content {
  text-align: left;
  width: 100%;
  max-width: 900px;
  background: #fff;
  padding: 30px 30px;
}
.lang-formTitle {
  font-size: 1.2em !important;
  margin: 0;
}
.lang-headerDiv {
  margin: 15px 0 15px 0;
}
.lang-secondLangRow {
  background-color: #dfe5e4;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.lang-finishAndSaveBtn {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.lang-clearBtn {
  float: left;
  margin-bottom: 1rem;
}
.lang-finishAndNextBtn {
  width: 100%;
  float: right;
  margin-bottom: 1rem;
}

.lang-saveBtn {
  float: right;
  margin-bottom: 1rem;
  min-width: 100%;
}
