.tal {
  &-skeleton {
    width: 100%;
    max-width: 900px !important;
    min-height: 308px !important;
    padding: 30px 30px;
  }

  &-content {
    text-align: left;
    width: 100%;
    max-width: 900px;
    padding: 30px 30px;
  }

  &-headerDiv {
    margin: 15px 0 15px 0;
  }

  &-mentorshipToggle {
    margin-left: 7px;
    padding-right: 7px;
  }
}
