.qual {
  &-skeleton {
    width: 100%;
    max-width: 900px;
    min-height: 308px;
    padding: 30px 30px;
  }

  &-content {
    text-align: left;
    width: 100%;
    max-width: 900px;
    padding: 30px 30px;
  }

  &-headerDiv {
    margin: 15px 0 15px 0 !important;
  }
}
