.ant-ribbon-placement-end {
  height: auto !important;
  min-height: 30px !important;
  width: 180px;
}

.match-term-list {
  margin-top: 10px;
}

.match-modal-description svg {
  margin-right: 6px;
}

.result-card {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  &-small-p {
    margin: 0px;
    margin-top: -10px;
  }

  &-divider {
    height: auto;
    margin-right: 20px;
    margin-top: 4px;
  }
  &-tag {
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: #e6e6e6 !important;
  }
  &-meta {
    margin: 0px;
    margin-right: 20px;
    margin-top: 15px !important;
    margin-bottom: 12px !important;
  }
  @media (max-width: 500px) {
    &-meta {
      margin-top: 45px !important;
    }
  }
  &-avatar-text {
    font-size: 20px;
    color: #fff !important;
  }
  &-container {
    max-width: 1600px;
    margin-top: 0px !important;
  }
  &-button-icon {
    font-size: 16px;
    margin-right: 5px !important;
  }
  &-button {
    margin: -10px 0px !important;
    padding: 0px !important;
    color: #ffffff !important;
    margin: 1px !important;
    display: inline-block !important;
  }
  &-footer-icon {
    margin-right: 3px;
  }
  .fuzzy-match-modal-btn {
    position: absolute;
    top: 10px;
    right: 190px;
  }
}
