.modalButtonContainer {
  padding-top: 16pt;
  text-align: right;
}

*[tabIndex]:focus {
  /* border-radius: 10px !important; */
  color: #fff !important;

  background-color: #596cd9 !important;
}

.profilePictureButton {
  margin-right: -30px;
  position: absolute;
  width: 32px;
  text-align: right;
  top: 0px !important;
}

.editButton:focus {
  color: #fff !important;

  background-color: #596cd9 !important;
}

.editButton {
  background-color: RGBA(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 1px 3px 2px 5px;
  font-size: 13pt;
  position: absolute;
  right: 14pt;
  top: 12pt;
  z-index: 10;
}
