// COLORS
$app-light-green: rgb(8, 186, 179);
$app-green: rgb(8, 116, 114);
$app-red: rgb(255, 51, 51);
$app-black: #001c1a;
$app-gray: #dfe5e4;

$app-green-shadow: rgba($app-green, 0.5);
$app-red-shadow: rgba($app-red, 0.5);
$app-white-shadow: rgba(#ffffff, 0.5);

$app-green-shadow-light: rgba($app-green, 0.2);

// DIMENSIONS
$border-radius: 5px;

// OTHERS
$box-shadow-card: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.1rem;
$box-shadow-side-menu: rgba(0, 0, 0, 0.05) 0.15rem 0 0.1rem;
