@import "./_variables.scss";

.custom-bubble-select-style .ant-select-selection-item {
  margin: 3px !important;
  padding: 1px 10px !important;
  height: auto !important;
  border-color: $app-gray !important;
}

.experience-item-list .ant-list-item-extra {
  margin-top: 0px !important;
  margin-left: 0.25em !important;
}

.results-card-divider
  .ant-divider
  .ant-divider-horizontal
  .ant-divider-with-text-left {
  &::before {
    border-top-color: $app-black !important;
  }
  &::after {
    border-top-color: $app-black !important;
  }
}

.ant-form-item-control-input-content {
  width: 100%;
}

.ant-list-item-meta-title {
  font-size: 16px !important;
  line-height: 24px !important;
}

.ant-list-item-meta-description {
  font-size: 14px !important;
  line-height: 22px !important;
}

.ant-tag.ant-tag-has-color {
  font-size: 14px !important;
}

.ant-page-header-heading-title {
  font-size: 24px !important;
}

.ant-list-item {
  font-size: 16px !important;
}

///////

.no-content-card .ant-card-body {
  padding: 0px !important;
}

.ant {
  &-layout-sider {
    box-shadow: $box-shadow-side-menu;
    border-right: 1px solid #f0f0f0;
  }

  &-card-head-wrapper {
    height: 55px !important;
  }

  &-menu {
    padding: 5px 8px;

    &-vertical {
      border: none !important;
    }
  }

  &-tag {
    margin: 3px;
    padding: 5px 12px;
    border: none;
  }

  &-table,
  &-card {
    box-shadow: $box-shadow-card;
  }

  &-card-body {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  &-form-item-label {
    padding: 0px !important;
  }
  &-form-item-explain {
    margin: 0;
  }

  &-page-header-heading-title {
    padding: 5px 10px;
    background-color: $app-green;
    color: white;
    font-size: 1.5em !important;
    border-radius: $border-radius;

    svg {
      margin-right: 7px;
    }
  }
}
