.experienceDescriptionToggleTag {
  color: #000000;
  padding-top: 8px;
}
.expandDescriptionToggleTagText {
  padding-left: 5px;
}
.bodyStyle {
  white-space: pre-wrap;
  overflow: auto;
  max-height: 400px;
  word-break: break-all;
}
