.page-content {
  margin-top: 100px;
}

.logo {
  width: 270px;
  margin-top: 50px;
}
.text {
  display: block;
  margin: 20px 0;
  font-size: 15px;
}
.title {
  display: block;
  margin: 25px 0 10px 0;
  color: #404040;
}

.image {
  max-width: 70%;
  max-height: 400px;
  margin-top: 30px;
}
.imageContainer {
  text-align: center;
}

.sign-in-button {
  margin-top: 20px;
  width: 190px;
}

.sign-in-button svg {
  margin-right: 5px;
}
