.logo {
  width: 270px;
  margin-top: 50px;
}
.text {
  display: block;
  margin: 20px 0;
  font-size: 15px;
}
.title {
  display: block;
  margin: 25px 0 10px 0;
  color: #404040;
}
.image {
  max-width: 70%;
  max-height: 400px;
  margin-top: 20px;
}
.imageContainer {
  text-align: center;
}
