.page-content {
  margin-top: 100px;
  text-align: left;
}

.logo {
  width: 270px;
  margin-top: 50px;
}

.landingPicture {
  text-align: center;
}

@media (max-width: 1100px) {
  .page-content {
    margin-top: 10px;
    text-align: center;
  }

  .logo {
    width: 230px;
    margin-top: 30px;
  }

  .landingPicture {
    display: none !important;
  }

  .landingPicture {
    display: none !important;
  }
}

.text {
  display: block;
  margin: 20px 0;
  font-size: 15px;
}
.title {
  display: block;
  margin: 25px 0 10px 0;
  color: #404040;
}

.landingPicture img {
  max-width: 70%;
  max-height: 400px;
  margin-top: 30px;
}

.sign-in-button {
  margin-top: 20px;
  width: 190px;
}

.sign-in-button svg {
  margin-right: 5px;
}
