.search-outerForm {
  width: 100%;
  padding-top: 80px !important;
}

.search-outerDiv {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.search-mainSearchDiv {
  background-color: rgb(25, 46, 47);
  border-radius: 5px 5px 0 0;
  padding: 50px 80px 40px 80px;
  text-align: center;
}
.search-mainSearchField {
  margin: 30px 10px 10px 10px;
}
.search-submitBtn {
  margin-left: 8px;
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
}
.search-clearBtn {
  margin-left: 8px;
  margin-top: 10px;
}
.search-advFieldStyles {
  text-align: center;
  margin-top: 10px;
}
.search-advSearchCard {
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
}
.search-advFieldPlacement {
  text-align: center;
}
.search-alert {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  width: 300px;
}
