.employment-skeleton {
  min-height: 658px !important;
  max-width: 900px;
  background: #fff;
  padding: 30px 30px;
}
.employment-content {
  text-align: left;
  width: 100%;
  max-width: 900px;
  background: #fff;
  padding: 30px 30px;
}

.employment-sectionHeader {
  margin-bottom: 10px;
}

.employment-headerDiv {
  margin: 15px 0 15px 0;
}

.employment-formItem {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 0;
  text-align: left;
}

.employment-tempRoleRow {
  background-color: #dfe5e4;
  padding: 15px 0px 15px 0px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
}

.employment-formTitle {
  font-size: 1.2em !important;
  margin: 0 !important;
}
