.small-p {
  margin: 0;
  margin-top: -10;
}

.divider {
  height: auto;
  margin-right: 20;
  margin-top: 4;
}
.tag {
  margin-bottom: 2px;
  margin-top: 2px;
}
.meta {
  margin: 0;
  margin-right: 20;
}
.avatar-text {
  font-size: 20px;
  color: #fff !important;
}
.card {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1600;
}
.button-icon {
  font-size: 16;
  margin-right: 5;
}
.button {
  margin: -10px 0;
}
