.tagList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.tagList li {
  display: inline;
}

.primaryTag {
  background-color: @primary-color-2 !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: @primary-color !important;
  border-radius: 1rem !important;
  color: @primary-color !important;
  margin: 3px 6px 3px 0 !important;
  padding: 1px 10px !important;
}
