.datePicker {
  width: 100%;
}

.topRow {
  background-color: #dfe5e4;
  padding: 15px !important;
  margin-bottom: 17px;
  border-radius: 5px;
}

.entryTitle {
  font-size: 1em;
}

.deleteButton {
  float: right;
}

.formOutlined {
  margin-right: 0.5em;
}
