DatePicker {
  width: 100%;
}
.formItem {
  font-size: 1.2em;
  margin: 0;
}

.topRow {
  background-color: #dfe5e4;
  padding: 15px 10px 15px 10px;
  margin-bottom: 17px;
}

.entryTitle {
  font-size: 1em;
}

.deleteButton {
  float: right;
}

FormOutlined {
  margin-right: 0.5em;
}
