.lang {
  &-skeleton {
    width: 100%;
    max-width: 900px;
    min-height: 293px;
    padding: 30px 30px;
  }
  &-content {
    text-align: left;
    width: 100%;
    max-width: 900px;
    padding: 30px 30px;
  }
  &-headerDiv {
    margin: 15px 0 15px 0;
  }
  &-secondLangRow {
    background-color: @primary-color-2;
    padding: 10px 20px 10px 20px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
  }
}
