.footer {
  background-color: #f8f8f8 !important;
  padding-left: 60px;
  z-index: 4;
  width: 100%;
  left: 0px;
  bottom: 0px;
}
.link {
  display: inline;
  margin-left: 15px;
}

.aroundLinksSmall {
  text-align: center;
}
.dashes {
  margin-left: 15px;
}
