.profileCard {
  box-shadow: 0rem 0.5rem 1rem 0rem RGBA(0, 0, 0, 0.15) !important;
}
.profileCard > .header {
  padding: 15px !important;
}

.profileCard > .content {
  padding: 33px !important;
}

/*.gradientBack {
  background-image: linear-gradient(to right, #3548af, #202870) !important;
}*/
