PORT=8080
NODE_ENV=development
DATABASE_URL=postgres://[PGUSERNAME]:[PGPASS]@db-postgres:5432/testdb?schema=public

TEST_DATABASE=jesttest
TEST_DATABASE_URL=postgres://api:api@db-postgres:5432/jesttest?schema=public

KEYCLOAK_SECRET=[RANDOM_STRING]
KEYCLOAK_AUTH_SERVER_URL=http://localhost:8180/auth

DOCS_KEYCLOAK_CLIENT_ID=upskill-client
DOCS_KEYCLOAK_AUTH_URL=http://localhost:8180/auth/realms/individual/protocol/openid-connect/auth
DOCS_KEYCLOAK_TOKEN_URL=http://localhost:8180/auth/realms/individual/protocol/openid-connect/token

GEDSAPIURL=https://geds-ssc-spc-apicast-production.api.canada.ca/gapi/v2/
GEDSAPIKEY=[GEDSAPIKEY]

REDIS_HOST=redis