PGDATABASE=testdb
PGUSERNAME=[PGUSERNAME]
PGPASS=[PGPASS]
PGHOST=db-postgres
DATABASE_URL=db-postgres
KEYCLOAK_SECRET=[KEYCLOAK_SECRET]
KEYCLOAK_AUTH_SERVER_URL=[KEYCLOAK_AUTH_SERVER_URL]
PORT=8080

GEDSAPIURL=https://geds-ssc-spc-apicast-production.api.canada.ca/gapi/v2/
GEDSAPIKEY=[GEDSAPIKEY]