PGDATABASE=testdb
PGUSERNAME=[PGUSERNAME]
PGPASS=[PGPASS]
PGHOST=db-postgres
DATABASE_URL=db-postgres
DEV_KEYCLOAK_SECRET=[DEV_KEYCLOAK_SECRET]
DEV_AUTH_SERVER_URL=auth-server-url
PROD_KEYCLOAK_SECRET=[PROD_KEYCLOAK_SECRET]
PROD_AUTH_SERVER_URL=auth-server-url
PORT=8080

GEDSAPIURL=https://geds-ssc-spc-apicast-production.api.canada.ca/gapi/v2/
GEDSAPIKEY=[GEDSAPIKEY]